name: Verify Doc Includes

on: [pull_request]

jobs:
  check-doc-links:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Checkout master
      run: |
        git fetch origin master --depth=1
    - uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Remove unchanged files
      run: |
        ( git diff --name-only origin/master ; git ls-files ) | sort | uniq -u | grep ".*" | xargs rm
    - name: Clone frc-docs
      run: |
        git clone https://github.com/wpilibsuite/frc-docs.git --depth=1
    - name: Verify doc includes
      run: |
        python test-scripts/check-doc-links.py
    - uses: harupy/comment-on-pr@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        filename: output.md